@import "tailwindcss/base";

p {
    @apply pb-4;
}
h1 {
    @apply text-xl font-semibold mb-4;
}
a {
    @apply text-blue-800 underline;
}
@import "tailwindcss/components";

@import "tailwindcss/utilities";