    <footer>
    <div id="meta">
    <p><img alt="author avatar" class="u-photo" src="/img/avatar-small.png" align="left" /> Made with <a href="https://11ty.io" class="">eleventy</a> by <a class="h-card" rel="me" href="https://dixonwildlifeart.com/">Philip Dixon</a> - <a rel="me" class="u-email" href="mailto:philip_dixon@att.net">philip_dixon@att.net</a></p>
    </div>
    </footer>