<header class="">
    <img src="/img/deer-header-big.jpg" alt="deer painted on a turkey feather" class="content-center">
      <div id="nav" class="mt-8 text-center">
      <ul class="list-none">
        <li class="inline-flex mr-2 text-xl"><a href="/" class="">HOME</a></li>
        <li class="inline-flex mr-2 text-xl"><a href="/about" class="">ABOUT</a></li>
        <li class="inline-flex mr-2 text-xl"><a href="/art" class="">ART</a></li>
        <li class="inline-flex mr-2 text-xl"><a href="/contact" class="">CONTACT</a></li>
        <li class="inline-flex mr-2 text-xl"><a href="/news" class="">NEWS</a></li>
      </ul>
      </div>
    </header>