<header class="">
    <img src="/img/deer-header-big.jpg" alt="deer painted on a turkey feather" class="content-center">
      <div id="nav" class="flex text-center">
      <ul class="float-left list-none p">
        <li class="inline-flex"><a href="index.md" class=""></a>HOME</li>
        <li class="inline-flex"><a href="about.md" class=""></a>ABOUT</li>
        <li class="inline-flex"><a href="art.md" class=""></a>ART</li>
        <li class="inline-flex"><a href="contact.md" class=""></a>CONTACT</li>
        <li class="inline-flex"><a href="posts/" class=""></a>NEWS</li>
      </ul>
      </div>
    </header>